/* reset */
    body,dl,dd,dt,h1,h2,h3,h4,h5,h6,input,ul,al,li,a {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    body {
        background-color: #eee;
        font: 12px/1.5 mrocsoft YaHei, Heiti SC,tahoma, arial;
        color: #666;
    }
    a {
        color: #666;
        text-decoration: none;
    }
    a:hover {
        color: red;
    }

    .w {
        position: relative;
        margin: 0 auto;
        min-width: 990px; max-width: 1190px;
    }
/* common */
    /* 鼠标移动到这上面的时候的效果 */
    .active {
        background-color: #fff;
        border: 1px solid #ccc!important;
        border-bottom:2px solid #fff!important;
        z-index: 101;
    }
    .dd {
        display: none!important;
    }
    [class*=-font1] {
        height: 28px;
        padding: 0 7px;
        border: 1px solid #e3e4e5;
    }
    [class*=-case] {
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    }
/* topnav */
    #topnav {
        z-index: 999;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background-color: #e3e4e5;
        border-bottom: 1px solid #ddd;
    }
    /* left */
        .topnav-left  {
            display: inline-block;
            width: 257.56px;
            height: 100%;
            /* background: red; */
        }
        .area {
            position: relative;
            border: 1px solid transparent;
            width: 57.56px;
            margin-left: 200px;
        
        }
        .area-font {
            position: relative;
            height: 28px;
            line-height: 28px;
            border: 1px solid #e3e4e5;
            padding: 0 7px;
        }
        .area-case {
            z-index: 100;
            position: absolute;
            top: 30px;
            left: 0;
            width: 300px;
            padding: 10px;
            line-height: 24px;
            background-color: #fff;
            display: none;
            border: 1px solid #ccc;
            
            
        }
        .area-item {
            float: left;
            width:60px;
            padding: 2px 0;
            /* background-color: red; */
        }
        .area-item a {
            float: left;
            padding: 0 8px;
            height: 24px;
        }
        .area-item a:hover {
            color: white;
            background-color: red;
        }

    /* right */
        #topnav ul.topnav-right {
            float: right;
        }
        #topnav ul.topnav-right li {
            display: inline-block;
        }
        #topnav li.spacer {
            width: 1px;
            height: 10px;
            margin: 11px 5px 0 5px;
            background-color: #ccc;
        }
        .mobile-jd-font {
            position: relative;
            height: 28px;
            padding: 0 7px;
            border: 1px solid #e3e4e5;
        }
        /* user */
            .user-case {
                display: none;
                z-index: 100;
                position: absolute;
                top: 30px;
                /* left: 0; */
                background-color: #fff;
                width: 280px;
                line-height: 24px;
                border: 1px solid #ccc;
                
            }
            .user-top {
                /* min-height: 24px; */
                padding: 10px 0 10px 15px;
                overflow: hidden;
            }
            .user-bottom {
                padding: 10px 0 10px 15px;
                overflow: hidden;
                border-top: 1px solid #f1f1f1;
            }
            .user-left {
                float: left;
                width: 126px;
                /* background-color: green; */
            }
            .user-right {
                float: right;;
                width: 126px;
                /* background-color: blue; */
            }
            .user-font {
                padding: 0 7px;
                position: relative;
                height: 28px;
                border: 1px solid #e3e4e5;
            }
        /* services */
            .services-case {
                position: absolute; 
                top: 30px; 
                right: 0;
                width: 170px;
                padding: 10px 0;
                line-height: 24px;
                background-color: #fff;
                z-index: 100;
                border: 1px solid #ccc;
                display: none;
            }
            .services-c {
                float: left;
                width: 70px;
                /* display: inline-block; */
                padding-left: 15px;
            }
            .services-t {
                float: left;
                width: 140px;
                font-weight: 700;
                /* display: inline-block; */
                padding-left: 15px; clear: both;
            }
            .services {
                /* 这个class是为了定位二级菜单右对齐而设置的 */
                position: relative;
            }
            .services-font {
                position: relative;
                /* 为什么这里要和上面services一起双重的position：relative才能把中间的白线去掉？ */
                height: 28px;
                padding: 0 7px;
                border: 1px solid #e3e4e5;
            }

        /* webnav */
            .webnav-case {
                display: none;
                z-index: 100;
                position: absolute;
                top: 30px; 
                right: 1px;
                width: 1188px;
                line-height: 24px;
                background-color: #fff;
                padding: 15px 0;
                border: 1px solid #ccc;
            }
            .webnav-channel1 {
                width: 340px;
                float: left;
                padding-left: 20px;
                border-right: 1px solid #ccc;
            }
            .webnav-channel1 a {
                width: 85px;
                float: left;
            }
            .webnav-font {
                position: relative;
                height: 28px;
                padding: 0 7px;
                border: 1px solid #e3e4e5;
            }



/* header */
    #header {
        width: 100%;
        height: 140px;
    } 
    /* logo */
        .logo {
            position: absolute;
            top: -31px; left: 0;
            width: 190px;
            height: 170px;
            background-color: green;
            background: url("../images/sprite.head.png") no-repeat;
            box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid #ededed;
        }
    /* search */
        .search {
            width: 100%;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.2);
        }
    /* shoppingcart */
        .shoppingcart {
            position: absolute;
            top: 25px; right: 99px; bottom: 80px; left: 901px;
            width: 190px;
            height: 35px;
            background-color: black;
        }
    /* hotwords */
        .hotwords {
            position: absolute;
            top: 65px; right: 350px; bottom: 55px; left: 350px;
            width: 550px;
            height: 20px;  
        }
        .hotwords a {
            margin-right: 10px;
            float: left;
        }
    /* header-nav */
        .header-nav {
            position: absolute;
            top: 80px; right: 200px; bottom: 0; left: 200px;
            width: 790px;
            height: 60px;
            padding-top: 20px;
            line-height: 40px;

        }
        .header-nav div.spacer {
            overflow: hidden;
            margin: 15px -10px 0 20px;
            width: 1px;
            height: 10px;
            background-color: #ccc;
            float: left;
        }
        .header-nav ul {
            float: left;
            display: inline-block;
        }
        .header-nav ul li {
            float: left;
            margin-left: 30px;
            font-size: 14px;
        }
        /* 这里出现了a不能像其他的a一样出现手性，暂时还没有弄明白原因 */
        .header-nav ul li a {
            color: #333;
        }
        .header-nav ul li a:hover {
            color: red;
            cursor: pointer;
        }
    /* treasure */
        .treasure {
            position: absolute;
            top: 90px; bottom: 10px; left: 1000px;
            width: 190px;
            height: 40px;
            background-color: red;
        }
/* focus */
    .focus {
        width: 100%;
        height: 480px;
        margin-bottom: 30px;
        /* background-color: rgba(0, 0, 0, 0.5); */
    }
    /* .focus-w {
        position: relative;
        
    } */
    .focus-1 {
        float: left;
        width: 190px;
        height: 480px;
        margin-right: 10px;
        /* background-color: red; */
    }
        .focus-1-w {
            position: relative;
            width: 190px;
            height: 480px;
            background-color: white;
        }
        .focus-11 {
            width: 190px;
            height: 450px;
            padding: 15px 0; 
        }
        .focus-11 li {
            font-size: 14px;
            line-height: 28px;
            padding-left: 20px;
        }
        .focus-11 li a {
            cursor: pointer;
            color: #333;
        }
        /* menu */
            .menu-w {
                position: absolute;
                top: 0; left: 190px;
                width: 998px;
                min-height: 478px;
                border: 1px solid #f7f7f7;
                background-color: yellow;
            }
            .menu-left {
                float: left;
                /* height: 400px;background-color: blue; */
                width: 800px;
                padding: 20px 0 10px;
            }
                .menu-intop {
                    margin-left: 20px;
                }
                .television {
                    margin-left: 20px;
                }
                .television dt {
                    float: left;
                    text-align: right;
                    width: 70px; 
                }
                .television dd {
                    
                }
                .television dd a {
                    display: inline-block;
                    border-left: 1px solid #ccc;
                    padding: 0 10px;
                }
            .menu-right {
                float: right;
                /* height: 400px;background-color: red; */
                width: 198px;
                padding: 20px 0 10px;
            }
            .menu-left-one {
                display: inline-block;
                height: 24px;
                line-height: 24px;
                color: white;
                padding: 0 10px;
                margin-right: 10px;
                background-color: #333;
            }
    .focus-2 {
        float: left;
        width: 590px;
        height: 480px;
        margin-right: 10px;
        background-color: red;
    }
    .focus-3 {
        float: left;
        width: 190px;
        height: 480px;
        background-color: red;
    }
    .focus-4 {
        float: right;
        width: 190px;
        height: 480px;
        background-color: red;
    }
/* floors */
    .jd-ko {
        width: 100%;
        height: 275px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .j-1 {
        width: 100%;
        height: 480px;
        background-color: rgba(0, 0, 0, 0.4);
        
    }
    .j-2 {
        width: 100%;
        height: 480px;
        background-color: rgba(0, 0, 0, 0.5);
        
    }
    .j-3 {
        width: 100%;
        height: 1505px;
    }
    .j-4 {
        width: 100%;
        height: 1025px;
        background-color: rgba(0, 0, 0, 0.2);
        
    }

/*  */


