/* reset */
    body,dl,dd,dt,h1,h2,h3,h4,h5,h6,input,ul,al,li,a {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    body {
        background-color: #eee;
        font: 12px/1.5 mrocsoft YaHei, Heiti SC,tahoma, arial;
        color: #666;
    }
    a {
        /* color: #666; */
        text-decoration: none;
    }
    /* 
        a:hover {
            color: red;
        } 
    */

    .w {
        position: relative;
        margin: 0 auto;
        min-width: 990px; max-width: 1190px;
    }
/* common */
    /* 鼠标移动到这上面的时候的效果 */
    .active {
        background-color: #fff;
        border: 1px solid #ccc!important;
        border-bottom:2px solid #fff!important;
        z-index: 101;
    }
    .active1 {
        background-color: red;
        color: white!important;
    }
    .dd {
        display: none!important;
    }
    [class*=-font1] {
        height: 28px;
        padding: 0 7px;
        border: 1px solid #e3e4e5;
    }
    [class*=-case] {
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    }
    [class*=display-none] {
        display: none;
    }
/* topnav */
    #topnav {
        z-index: 999;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background-color: #e3e4e5;
        border-bottom: 1px solid #ddd;
    }
    #topnav a {
        color: #666;
    }
    #topnav a:hover {
        color: red;
    }
    /* left */
        .topnav-left  {
            display: inline-block;
            width: 257.56px;
            height: 100%;
            /* background: red; */
        }
        .area {
            position: relative;
            border: 1px solid transparent;
            width: 57.56px;
            margin-left: 200px;
        
        }
        .area-font {
            position: relative;
            height: 28px;
            line-height: 28px;
            border: 1px solid #e3e4e5;
            padding: 0 7px;
        }
        .area-case {
            z-index: 100;
            position: absolute;
            top: 30px;
            left: 0;
            width: 300px;
            padding: 10px;
            line-height: 24px;
            background-color: #fff;
            display: none;
            border: 1px solid #ccc;
        }
        .area-item {
            float: left;
            width:60px;
            padding: 2px 0;
            /* background-color: red; */
        }
        .area-item a {
            float: left;
            padding: 0 8px;
            height: 24px;
        }
        .area-item a:hover {
            color: white;
            background-color: #ddd;
        }
        .a-active1 {
            color: white!important;
            background-color: red!important;
        }

    /* right */
        #topnav ul.topnav-right {
            float: right;
        }
        #topnav ul.topnav-right li {
            display: inline-block;
        }
        #topnav li.spacer {
            width: 1px;
            height: 10px;
            margin: 11px 5px 0 5px;
            background-color: #ccc;
        }
        .mobile-jd-font {
            position: relative;
            height: 28px;
            padding: 0 7px;
            border: 1px solid #e3e4e5;
        }
        /* user */
            .user-case {
                display: none;
                z-index: 100;
                position: absolute;
                top: 30px;
                /* left: 0; */
                background-color: #fff;
                width: 280px;
                line-height: 24px;
                border: 1px solid #ccc;
                
            }
            .user-top {
                /* min-height: 24px; */
                padding: 10px 0 10px 15px;
                overflow: hidden;
            }
            .user-bottom {
                padding: 10px 0 10px 15px;
                overflow: hidden;
                border-top: 1px solid #f1f1f1;
            }
            .user-left {
                float: left;
                width: 126px;
                /* background-color: green; */
            }
            .user-right {
                float: right;;
                width: 126px;
                /* background-color: blue; */
            }
            .user-font {
                padding: 0 7px;
                position: relative;
                height: 28px;
                border: 1px solid #e3e4e5;
            }
        /* services */
            .services-case {
                position: absolute; 
                top: 30px; 
                right: 0;
                width: 170px;
                padding: 10px 0;
                line-height: 24px;
                background-color: #fff;
                z-index: 100;
                border: 1px solid #ccc;
                display: none;
            }
            .services-c {
                float: left;
                width: 70px;
                /* display: inline-block; */
                padding-left: 15px;
            }
            .services-t {
                float: left;
                width: 140px;
                font-weight: 700;
                /* display: inline-block; */
                padding-left: 15px; clear: both;
            }
            .services {
                /* 这个class是为了定位二级菜单右对齐而设置的 */
                position: relative;
            }
            .services-font {
                position: relative;
                /* 为什么这里要和上面services一起双重的position：relative才能把中间的白线去掉？ */
                height: 28px;
                padding: 0 7px;
                border: 1px solid #e3e4e5;
            }

        /* webnav */
            .webnav-case {
                display: none;
                z-index: 100;
                position: absolute;
                top: 30px; 
                right: 1px;
                width: 1188px;
                line-height: 24px;
                background-color: #fff;
                padding: 15px 0;
                border: 1px solid #ccc;
            }
            .webnav-channel1 {
                width: 340px;
                float: left;
                padding-left: 20px;
                border-right: 1px solid #ccc;
            }
            .webnav-channel1 a {
                width: 85px;
                float: left;
            }
            .webnav-font {
                position: relative;
                height: 28px;
                padding: 0 7px;
                border: 1px solid #e3e4e5;
            }



/* header */
    #header {
        width: 100%;
        height: 140px;
    } 
    #header a {
        color: #666;
    }
    #header a:hover {
        color: red;
    }
    /* logo */
        .logo {
            position: absolute;
            top: -31px; left: 0;
            width: 190px;
            height: 170px;
            background-color: green;
            background: url("../images/sprite.head.png") no-repeat;
            box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid #ededed;
        }
    /* search */
        .search {
            width: 100%;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.2);
        }
    /* shoppingcart */
        .shoppingcart {
            position: absolute;
            top: 25px; right: 99px; bottom: 80px; left: 901px;
            width: 190px;
            height: 35px;
            background-color: black;
        }
    /* hotwords */
        .hotwords {
            position: absolute;
            top: 65px; right: 350px; bottom: 55px; left: 350px;
            width: 550px;
            height: 20px;  
        }
        .hotwords a {
            margin-right: 10px;
            float: left;
        }
    /* header-nav */
        .header-nav {
            position: absolute;
            top: 80px; right: 200px; bottom: 0; left: 200px;
            width: 790px;
            height: 60px;
            padding-top: 20px;
            line-height: 40px;

        }
        .header-nav div.spacer {
            overflow: hidden;
            margin: 15px -10px 0 20px;
            width: 1px;
            height: 10px;
            background-color: #ccc;
            float: left;
        }
        .header-nav ul {
            float: left;
            display: inline-block;
        }
        .header-nav ul li {
            float: left;
            margin-left: 30px;
            font-size: 14px;
        }
        /* 这里出现了a不能像其他的a一样出现手性，暂时还没有弄明白原因 */
        .header-nav ul li a {
            color: #333;
        }
        .header-nav ul li a:hover {
            color: red;
            cursor: pointer;
        }
        /* 用这种写法ie支持不了，位置不对 (两种写法都可以，但是ie要把absolute放到前面去) */
            .header-nav ul:nth-child(1) li:nth-child(3) a {
                position: relative;
            }
            .header-nav ul:nth-child(1) li:nth-child(3) a img {
                position: absolute;
                top: -15px;
                margin-left: 35px;
                width: 42px;
                height: 15px;
            } 
       
        /* .head-img1-w {
            position: relative;
        }
        .head-img1 {
            position: absolute;
            top: -5px;
            margin-left: 35px;
            width: 42px;
            height: 15px;
        } */
    /* treasure */
        .treasure {
            position: absolute;
            top: 90px; bottom: 10px; left: 1000px;
            width: 190px;
            height: 40px;
            background-color: red;
        }
/* focus */
    .focus {
        width: 100%;
        height: 480px;
        margin-bottom: 30px;
        /* background-color: rgba(0, 0, 0, 0.5); */
    }
    /* fs-leftnav */
        .fs-leftnav {
            float: left;
            width: 190px;
            height: 480px;
            margin-right: 10px;
            /* background-color: red; */
        }
        .fs-leftnav-w {
            z-index: 100;
            position: relative;
            width: 190px;
            height: 480px;
            background-color: white;
        }
        .fs-leftnav1 {
            width: 190px;
            height: 450px;
            padding: 15px 0; 
        }
        .fs-leftnav1 li {
            font-size: 14px;
            line-height: 28px;
            padding-left: 20px;
            color: #333;
        }
        .fs-leftnav1 li a {
            cursor: pointer;
        }
        /* fs-common */
            /* tip */
                .tip {
                    margin-left: 20px;
                }
                .tip a {
                    /* display: block; float: left; */  /* 这里这样写还不行，下面的float会全部的跟上来！！！ */
                    display: inline-block;
                    height: 24px; line-height: 24px;
                    color: white; background-color: #333;
                    margin-right: 10px; padding: 0 10px;
                }
                .tip a:hover {
                    background-color: #666;
                }

            /* list */
                .list {
                    position: relative;
                    padding-left: 80px;
                }
                .list dt {
                    position: absolute;
                    left: 0; 
                    top: 9px;
                    width: 70px;
                    text-align: right;
                    font-weight: 700;
                    white-space: nowrap;
                    display: block;
                    /* font-size: 14px; */
                }
                .list dd {
                    overflow: hidden;
                    padding: 6px 0;
                    border-bottom: 1px solid #e0e0e0;
                }
                .list dd a {
                    position: relative;
                    float: left;
                    margin: 4px 0;
                    padding: 0 10px;
                    height: 16px; line-height: 16px;
                    border-left: 1px solid #e0e0e0;
                    white-space: nowrap;
                    color: #666;
                    display: block;
                }
                .list dd a:hover {
                    color: red;
                }
                /* 选择list属性中的最后一个list属性中的dd的下边框线为空 */
                .list:last-child dd {
                    border-bottom: none;
                }
                .list a {
                    color: #666;
                }
        /* menu */
            .menu-w {
                position: absolute;
                top: 0; left: 190px;
                width: 998px;
                min-height: 478px;
                border: 1px solid #f7f7f7;
                background-color: #f7f7f7;
            }
            .menu-left {
                float: left;
                /* height: 400px;background-color: blue; */
                width: 800px;
                padding: 20px 0 10px;
            }
            .menu-right {
                float: right;
                /* height: 400px;background-color: red; */
                width: 198px;
                padding: 20px 0 10px;
            }
            /*             .menu-left-one {
                display: inline-block;
                height: 24px;
                line-height: 24px;
                color: white;
                padding: 0 10px;
                margin-right: 10px;
                background-color: #333;
            } */
    /* fs-slideshow */
        /* common */
            .appear {
                z-index: 2!important;
            }
            .indicator::after {
                content: "";
                display: block;
                position: absolute;
                top: 3px;
                left: 3px;
                width: 4px;
                height: 4px;
                background-color: white;
                border: 4px solid rgba(0, 0, 0, 0.2)!important;

            }
        .fs-slideshow {
            float: left;
            width: 590px;
            height: 480px;
            margin-right: 10px;
            /* background-color: red; */
        }
        .fs-slideshow-w {
            position: relative;
            padding-top: 10px;
        }
        .slideshow-photo li {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 10px;
            width: 590px;
            height: 470px;
            /* display: block; */
            overflow: hidden;
        }
        .slideshow-indicator {
            z-index: 3;
            position: absolute;
            /* left: 46px; */
            top: 432px;
            right: 392px;
            /* background-color: red; */
            overflow: hidden;
        }
        .slideshow-indicator i {
            position: relative;
            box-sizing: border-box;
            display: block;
            float: left;
            width: 18px;
            height: 18px;
            /* border-radius: 50%; */
            /* border: 1px solid #666; */
            /* background-color: red; */
        }
        .slideshow-indicator i:after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            border: 2px solid #b9beba;
            /* background-color: ; */
        }
        .fs-slideshow-w a:nth-child(3) {
            z-index: 3;
            position: absolute;
            top: 235px;
            left: 0px;
            width: 24px;
            height: 40px;
            /* margin-top: 20px; */
            background-color: red;
        }
        .fs-slideshow-w a:nth-child(4) {
            z-index: 3;
            position: absolute;
            top: 235px;
            right: 0px;
            width: 24px;
            height: 40px;
            /* margin-top: 20px; */
            background-color: red;
        }
    /* focus-3 */
        .focus-3 {
            float: left;
            width: 190px;
            height: 480px;
            background-color: red;
        }
    /* focus-4 */
        .focus-4 {
            float: right;
            width: 190px;
            height: 480px;
            background-color: red;
        }
/* floors */
    .jd-ko {
        width: 100%;
        height: 275px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .j-1 {
        width: 100%;
        height: 480px;
        background-color: rgba(0, 0, 0, 0.4);
        
    }
    .j-2 {
        width: 100%;
        height: 480px;
        background-color: rgba(0, 0, 0, 0.5);
        
    }
    .j-3 {
        width: 100%;
        height: 1505px;
    }
    .j-4 {
        width: 100%;
        height: 1025px;
        background-color: rgba(0, 0, 0, 0.2);
        
    }

/*  */


